@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mplus-light bg-main tracking-wider;
  }
}

@layer utilities {
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }

  .inner-wrap {
    margin: 0 auto;
    max-width: 1000px;
  }

  .mplus-light {
    font-family: 'm-plus-2p', sans-serif;
    font-weight: 300;
  }

  .mplus-regular {
    font-family: 'm-plus-2p', sans-serif;
    font-weight: 400;
  }

  .mplus-medium {
    font-family: 'm-plus-2p', sans-serif;
    font-weight: 500;
  }

  .mplus-bold {
    font-family: 'm-plus-2p', sans-serif;
    font-weight: 700;
  }

  .mplus-heavy {
    font-family: 'm-plus-2p', sans-serif;
    font-weight: 800;
  }

  .mplus-black {
    font-family: 'm-plus-2p', sans-serif;
    font-weight: 900;
  }
}
