@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mplus-light overflow-x-hidden bg-main tracking-wider text-fb;
  }

  h2 {
    @apply mplus-heavy mt-10 text-4xl tracking-widest text-ora;
  }

  h2 span {
    @apply mplus-medium mt-0 block text-sm tracking-widest;
  }

  h3 {
    @apply mplus-medium text-lg;
  }

  img {
    @apply align-top;
  }

  section {
    @apply mb-28 w-full;
  }

  footer a {
    @apply w-fit;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.inner-wrap {
  margin: 0 auto;
  max-width: 800px;
}

.inner-content {
  margin: 0 auto;
  max-width: 1000px;
}

.mplus-light {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 300;
}

.mplus-regular {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 400;
}

.mplus-medium {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 500;
}

.mplus-bold {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 700;
}

.mplus-heavy {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 800;
}

.mplus-black {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 900;
}

.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  width: calc(100% + 24px);
  left: -10px;
  top: 4px;
  height: 1.2rem;
  background-color: #f9fdff;
  z-index: -1;
}

.line_blue {
  position: relative;
}

.line_blue::after {
  content: '';
  position: absolute;
  width: calc(100% + 40px);
  left: -16px;
  top: 10px;
  height: 1rem;
  background-color: #94dbff;
  z-index: -1;
}

.linkbox {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 8px;
  width: 240px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #f9fdff;
  z-index: 10;
}

.linkbox::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-width: 0px 0px 12px 12px;
  border-style: solid;
  border-color: #e8feff #35c1ff #e8feff;
}

.hover-circles,
.link-yell {
  height: fit-content;
}

.hover-circles:hover::before,
.hover-yell:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  transition: 0.2s;
  z-index: 2;
}

.hover-circles:hover::after {
  content: 'UU-Circles';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #343838;
  font-weight: 700;
  transition: 0.2s;
}

.hover-yell:hover::after {
  content: 'uu-yell';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #343838;
  font-weight: 700;
  transition: 0.2s;
}

.mv-base {
  margin: auto;
  padding-top: 400px;
  padding-bottom: 80px;
}

.fv-children {
  position: absolute;
  bottom: 190px;
  left: 130px;
}

.fv-home {
  position: absolute;
  bottom: 120px;
  right: 100px;
}

.fv-content p {
  position: absolute;
  bottom: 100px;
  left: 70px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

header nav a {
  cursor: pointer;
}

.sub_girl01 {
  position: absolute;
  top: 40px;
  left: 460px;
}

.sub_boy01 {
  position: absolute;
  top: 90px;
  left: 290px;
}

.sec-shadow {
  box-shadow: -4px 4px 8px #94dbff;
}

.link-ul {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.link-ul::after {
  position: absolute;
  bottom: -6px;
  left: 0%;
  content: '';
  width: 100%;
  height: 0.5px;
  background: #343838;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.link-ul:hover::after {
  transform: scale(1, 1);
}

#about > div {
  height: 510px;
}

#service > div,
#service > div > div {
  height: 800px;
}

.about {
  width: 800px;
  margin-left: 100px;
  padding-bottom: 60px;
}

.service {
  width: 800px;
  margin-right: 100px;
}

.service-item {
  width: 460px;
}

.sp {
  transform: translateY(-50%);
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1000px;
  }

  .inner-wrap {
    max-width: 800px;
  }

  .inner-content {
    max-width: 900px;
  }

  .about {
    width: 800px;
    margin-left: 50px;
  }

  .sub_girl01 {
    left: 400px;
  }

  .sub_boy01 {
    left: 240px;
  }

  .service {
    width: 800px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .wrapper {
    max-width: 800px;
  }

  .inner-wrap {
    max-width: 600px;
  }

  .inner-content {
    max-width: 700px;
  }

  .about {
    width: 700px;
    margin-left: 50px;
  }

  .service {
    width: 700px;
    margin-right: 50px;
  }
}

/*タブレット対応保留、スマホ対応へ。*/

@media screen and (max-width: 500px) {
  body {
    font-size: 0.875rem;
  }

  .wrapper {
    max-width: calc(100% - 20px);
  }

  .inner-wrap {
    max-width: calc(100% - 40px);
  }

  .inner-content {
    max-width: calc(100% - 30px);
  }

  .about {
    width: 90%;
    margin-left: 20px;
  }

  .service {
    width: 90%;
    margin-right: 20px;
  }

  .mv-base {
    padding-top: 200px;
    padding-bottom: 40px;
  }

  .fv-children {
    width: 140px;
    bottom: 80px;
    left: 8%;
  }

  .fv-home {
    width: 200px;
    bottom: 64px;
    right: 4%;
  }

  .fv-content p {
    font-size: 1rem;
    bottom: 48px;
    left: 5%;
  }

  .header {
    flex-direction: column;
  }

  .header nav {
    margin-right: 0;
  }

  h1 {
    margin-bottom: 12px;
    width: 140px;
  }

  h2 {
    @apply mplus-heavy mt-8 text-3xl tracking-widest text-ora;
  }

  h2 span {
    @apply mplus-medium mt-0 block text-xs tracking-widest;
  }

  .link-ul::after {
    bottom: -4px;
  }

  #about > div {
    height: 600px;
  }

  .about h2 {
    margin-bottom: 320px;
  }

  .sub_boy01 {
    width: 80px;
    top: 260px;
    left: 20px;
    transform: rotate(-10deg);
  }

  .sub_girl01 {
    width: 80px;
    top: 265px;
    left: auto;
    right: 20px;
    transform: rotate(10deg);
  }

  .sp {
    width: 200px;
    top: 100px;
    right: 50%;
    transform: translateX(50%);
  }

  #service > div,
  #service > div > div {
    height: 1040px;
  }

  #service h2 {
    margin-bottom: 2rem;
  }

  .service > div:first-of-type {
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }

  .service > div:last-of-type {
    flex-direction: column;
  }

  .service .relative.my-auto {
    margin: 0 auto 12px;
  }

  .service-item {
    margin: auto;
    width: 95%;
  }

  #u-lab > div {
    padding-bottom: 5rem;
  }

  #u-lab h2 {
    margin-bottom: 1rem;
  }

  #u-lab p {
    margin-bottom: 1.25rem;
  }

  br.hidden.b5 {
    display: block;
  }

  .absolute.top-28.left-4 {
    width: 120px;
    top: auto;
    bottom: 8px;
  }

  .absolute.top-20.right-4 {
    width: 120px;
    top: auto;
    bottom: 8px;
  }

  .flex.flex-row.justify-center.gap-20.inner-wrap.pb-10 {
    flex-direction: column;
    gap: 12px;
  }

  .flex.flex-row.justify-center.gap-20.inner-wrap.pb-10 > div {
    margin: auto;
  }

  footer a.block.mb-4 {
    margin-bottom: 0.25rem;
  }

  footer p.text-center.text-sm {
    font-size: 0.625rem;
  }

  .contact-i {
    margin-bottom: 4rem;
  }

  .contact-i iframe {
    width: 400px;
    height: 1700px;
  }
}

@media screen and (max-width: 400px) {
  .fv-home {
    width: 180px;
  }

  .fv-children {
    width: 100px;
    left: 12%;
  }

  .fv-content p {
    left: 5%;
  }

  br.hidden {
    display: block;
  }

  #service > div,
  #service > div > div {
    height: 1080px;
  }

  .contact-i iframe {
    width: calc(100vw - 20px);
    height: 1900px;
  }
}
