@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mplus-light overflow-x-hidden bg-main tracking-wider text-fb;
  }

  h2 {
    @apply mplus-heavy mt-10 text-4xl tracking-widest text-ora;
  }

  h2 span {
    @apply mplus-medium mt-0 block text-sm tracking-widest;
  }

  h3 {
    @apply mplus-medium text-lg;
  }

  img {
    @apply align-top;
  }

  section {
    @apply mb-28 w-full;
  }

  footer a {
    @apply w-fit;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.inner-wrap {
  margin: 0 auto;
  max-width: 800px;
}

.inner-content {
  margin: 0 auto;
  max-width: 1000px;
}

.mplus-light {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 300;
}

.mplus-regular {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 400;
}

.mplus-medium {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 500;
}

.mplus-bold {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 700;
}

.mplus-heavy {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 800;
}

.mplus-black {
  font-family: 'm-plus-2p', sans-serif;
  font-weight: 900;
}

.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  width: calc(100% + 24px);
  left: -10px;
  top: 4px;
  height: 1.2rem;
  background-color: #f9fdff;
  z-index: -1;
}

.line_blue {
  position: relative;
}

.line_blue::after {
  content: '';
  position: absolute;
  width: calc(100% + 40px);
  left: -16px;
  top: 10px;
  height: 1rem;
  background-color: #94dbff;
  z-index: -1;
}

.linkbox {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 8px;
  width: 240px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #f9fdff;
  z-index: 10;
}

.linkbox::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-width: 0px 0px 12px 12px;
  border-style: solid;
  border-color: #e8feff #35c1ff #e8feff;
}

.hover-circles,
.link-yell {
  height: fit-content;
}

.hover-circles:hover::before,
.hover-yell:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  transition: 0.2s;
  z-index: 2;
}

.hover-circles:hover::after {
  content: 'UU-Circles';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #343838;
  font-weight: 700;
  transition: 0.2s;
}

.hover-yell:hover::after {
  content: 'uu-yell';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #343838;
  font-weight: 700;
  transition: 0.2s;
}

.mv-base {
  margin: auto;
  padding-top: 400px;
  padding-bottom: 80px;
}

.fv-children {
  position: absolute;
  bottom: 190px;
  left: 130px;
}

.fv-home {
  position: absolute;
  bottom: 120px;
  right: 100px;
}

.fv-content p {
  position: absolute;
  bottom: 100px;
  left: 70px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

header nav a {
  cursor: pointer;
}

.sub_girl01 {
  position: absolute;
  top: 40px;
  left: 460px;
}

.sub_boy01 {
  position: absolute;
  top: 90px;
  left: 290px;
}

.sec-shadow {
  box-shadow: -4px 4px 8px #94dbff;
}

.link-ul {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.link-ul::after {
  position: absolute;
  bottom: -6px;
  left: 0%;
  content: '';
  width: 100%;
  height: 0.5px;
  background: #343838;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.link-ul:hover::after {
  transform: scale(1, 1);
}

.about {
  width: 800px;
  margin-left: 100px;
}

.service {
  width: 800px;
  margin-right: 100px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 800px;
  }

  .inner-wrap {
    max-width: 600px;
  }

  .inner-content {
    max-width: 700px;
  }

  .about {
    width: 600px;
    margin-left: 50px;
  }

  .service {
    width: 600px;
    margin-right: 50px;
  }
}
